:root {
    --tileSize: 60px;
    --gap: 3px;
    --corner: 5px;
    --border: 1px solid black;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /*background: rgb(240, 240, 240);*/
}

.tile-container {
    display: grid;
    justify-content: center;
    gap: var(--gap);
}

.tile-row {
    display: grid;
    grid-template-columns: repeat(5, var(--tileSize));
    gap: var(--gap);
}

.small-tile {
    width: var(--tileSize);
}

.big-tile {
    width: 80px;
}

.tile {
    height: var(--tileSize);
    border-radius: var(--corner);
    border: var(--border);
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    line-height: var(--tileSize);
    font-weight: 500;
}

.board-tile {
    outline: 0;
}

.tile:hover {
    cursor: pointer;
}

.heading {
    margin: 5rem 0 5rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: #2f3542;
}

.correct-result {
    color: #27ae60;
}

.wrong-result {
    color: #e55039;
}

.letter-correct-spot {
    color: white;
    border: 0 !important;
    background-color: #27ae60;
    animation: checkLetterAnimation .2s;
}

.letter-not-correct-spot {
    color: white;
    border: 0 !important;
    background-color: #ff9f43;
    animation: checkLetterAnimation .2s;
}

.letter-not-included {
    color: white;
    border: 0 !important;
    background-color: #999999;
    animation: checkLetterAnimation .2s;
}

@keyframes checkLetterAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}

.not-enough-container {
    position: absolute;
    background-color: rgb(0, 0, 0, .75);
    color: white;
    padding: .5rem 2.5rem;
    border-radius: 10px;
    top: 36.25%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: shake .25s;
    display: none;
}

.disable-overlay {
    background: white;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
    opacity: .5;
}

.btn {
    background: none;
    outline: none;
    border: 1px solid black;
    padding: .75rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.btn:hover {
    background-color: rgb(40, 40, 40);
    color: white;
    border: 1px solid white;
}

.about-btn {
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid gray;
    padding: .4rem .8rem;
    border-radius: 50%;
    color: gray;
    font-size: 1.5rem;
    cursor: pointer;
}

.about-btn:hover {
    color: rgb(240, 240, 240);
    background: gray;
}

.opaque-cover {
    width: 100%;
    height: 100vh;
    background: rgb(250 250 250 / 85%);
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about-bg {
    display: none;
}

.game-over-bg {
    display: none;
}

.about {
    width: 30%;
    border: 1px solid black;
    background: rgb(255, 255, 255, .75);
    font-size: 1.5rem;
    border-radius: 10px;
    line-height: 3.5rem;
    padding: 1rem 2rem;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: slide-up ease .25s;
}

.game-over-message {
    font-size: 3rem;
}

.game-over {
    text-align: center;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slide-up ease .25s;
}

@keyframes slide-up {
    from {
        top: 40%;
    }

    to {
        top: 36%;
    }
}

p {
    width: 85%;
    margin: 2rem auto;
    text-align: justify;
}

a {
    color: black;
}

.keyboard {
    margin-top: 8rem;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.key-tile {
    margin: .1rem;
}

#enter {
    font-size: 1.25rem !important;
    letter-spacing: .1rem;
}

.clicked:not(.letter-not-included) {
    transform: scale(.95);
    background: #f5f6fa;
}

.key-tile:not(.letter-not-included):hover {
    cursor: pointer;
    background-color: #f5f6fa;
}

.darkmode-btn {
    background-color: rgb(181, 181, 181);
    width: 32px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
}

.darkmode-slider {
    background: white;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.darkmode-btn:hover {
    cursor: pointer;
}

.darkmode-slider:hover {
    left: 14px;
}

@keyframes shake {
    0% {
        transform: translate(-45%, -50%);
    }

    25% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-47%, -50%);
    }

    75% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-48%, -50%);
    }
}