<div class="keyboard">
    <div class="keyboard-row">
        <div class="key-tile tile">Q</div>
        <div class="key-tile tile">W</div>
        <div class="key-tile tile">E</div>
        <div class="key-tile tile">R</div>
        <div class="key-tile tile">T</div>
        <div class="key-tile tile">Y</div>
        <div class="key-tile tile">U</div>
        <div class="key-tile tile">I</div>
        <div class="key-tile tile">O</div>
        <div class="key-tile tile">P</div>
    </div>

    <div class="keyboard-row">
        <div class="key-tile tile">A</div>
        <div class="key-tile tile">S</div>
        <div class="key-tile tile">D</div>
        <div class="key-tile tile">F</div>
        <div class="key-tile tile">G</div>
        <div class="key-tile tile">H</div>
        <div class="key-tile tile">J</div>
        <div class="key-tile tile">K</div>
        <div class="key-tile tile">L</div>
    </div>

    <div class="keyboard-row">
        <div class="key-tile tile">Z</div>
        <div class="key-tile tile">X</div>
        <div class="key-tile tile">C</div>
        <div class="key-tile tile">V</div>
        <div class="key-tile tile">B</div>
        <div class="key-tile tile">N</div>
        <div class="key-tile tile">M</div>
    </div>
</div>